.form-container{
    font-size: 1rem;
}

.form-title{
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.MuiFormControl-root.MuiTextField-root.MuiFormControl-marginNormal.MuiFormControl-fullWidth{
    & button:focus {
        outline: none !important;
        outline: none !important;
    }
}

button.MuiButtonBase-root.MuiIconButton-root{
    &:focus{
        outline: none !important;
    }
}